* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --dark: #0d1821;
  --light: #344966;
  --white: #f0f4ef;
  --green: #bfcc94;
  --serif: "Noto Serif Telugu", serif;
  --sans-serif: "Noto Sans Ethiopic", sans-serif;
  --shadow: 0 2.5rem 2rem -2rem rgba(13, 24, 33, 0.4);
  --inner-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(13, 24, 33, 0.4) 0px -2px 6px 0px inset;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  min-height: 100vh;
  color: var(--white);
  font-family: var(--sans-serif);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 30rem;
  padding: 3rem;
  background: var(--dark);
  background: linear-gradient(347deg, var(--dark) 0%, var(--light) 100%);
  border-radius: 1rem;
}

.display {
  width: 100%;
  position: relative;
}

.password {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  background-color: var(--dark);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  min-height: 3.25rem;
  cursor: pointer;
  margin: 1.5rem auto;
  font-weight: 700;
  word-break: break-all;
  z-index: -1;
  box-shadow: var(--shadow);
}

.copy {
  position: absolute;
  pointer-events: none;
  background-color: var(--dark);
  color: var(--dark);
  font-size: 0.75rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 10px;
  border-radius: 4px 4px 0 0;
  visibility: hidden;
  transition: background-color 0.5s ease-in-out;
  transition: visibility 0.2s ease-in-out;
  transition: top 0.1s ease-in-out;
  z-index: 1;
}

.password:hover + .copy {
  top: 12%;
  visibility: visible;
  background-color: var(--green);
}

h1 {
  font-family: var(--serif);
  font-weight: 600;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-items: start;
}

.output {
  color: var(--green);
  background-color: var(--light);
  padding: 2px 4px;
  font-size: 0.87rem;
  border-radius: 4px;
  margin-left: 10px;
  pointer-events: none;
}

.lenght-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: var(--light);
  background: linear-gradient(347deg, var(--dark) 0%, var(--light) 100%);
  cursor: pointer;
  color: var(--white);
  border: none;
  font-family: var(--sans-serif);
  grid-column: span 2;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  justify-self: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  box-shadow: var(--shadow);
}

.password:hover,
button:hover {
  background: none;
  background-color: var(--green);
  color: var(--dark);
  box-shadow: var(--inner-shadow);
}

input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 10px;
  background-color: var(--dark);
  border-radius: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: var(--shadow);
}

input:checked[type="checkbox"] {
  background-color: var(--green);
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  left: 0;
  top: -3.5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--light);
  box-shadow: var(--shadow);
  transition: all 0.5s cubic-bezier(0.03, 0.78, 0.41, 1);
  left: 0;
}

input:checked[type="checkbox"]::after {
  left: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  height: 10px;
  background: transparent;
  background: var(--dark);
  border-radius: 10px;
  background-image: linear-gradient(var(--green), var(--green));
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--light);
  box-shadow: var(--shadow);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--light);
  box-shadow: var(--shadow);
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--light);
  box-shadow: var(--shadow);
}

input[type="range"]:focus {
  outline: var(--green);
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-fill-lower {
  border: none;
  background: transparent;
}
input[type="range"]::-ms-fill-upper {
  border: none;
  background: transparent;
}
